.banner-auto {
  background: url("../img/banner-autof.png") center center;
  height: 31rem !important;
  background-size: cover;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .banner-auto {
    height: 40rem !important;
  }
}
