.cases-sucesso {
  .item {
    @extend .col-12;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    .item {
      @include make-col(6);
      height: 370px;
      margin-bottom: 3rem;

      &:nth-child(1) {
        @include make-col(12);

        .box-item {
          &:nth-child(1) {
            @include make-col(4);
            height: 100%;
            display: block;
          }

          &:nth-child(2) {
            @include make-col(8);
            padding-left: 1rem;
          }
        }
      }
    }
  }
}
