.contato {
  .slide {
    height: auto;

    input,
    textarea {
      width: 100%;
      background: transparent;
      border: 1px solid $dgrey;
      padding: 1rem;
      border-radius: 7px;
      color: $dgrey;
    }

    .wpcf7-submit {
      width: 166.86px;
      height: 50.06px;
      background: $green;
      border: 0;
      color: #fff !important;
    }

    .fa-linkedin-in, .fa-instagram, .fa-youtube {
      color: $green;
      font-size: 1.5em;
    }

    .item {
      margin-bottom: 1rem;

      &:nth-child(1) {
        margin-top: 17rem !important;
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    .slide {
      height: 740px;
      margin-bottom: 14rem;

      .item {
        &:nth-child(2) {
          margin-top: 11rem !important;
        }
      }
    }
  }
}
