.bg-equipe {
  background: url("../img/bg-equipe.jpg") center center no-repeat;
  background-size: cover;

  .text-line {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 3s linear forwards, filling 3s ease-in forwards;
    letter-spacing: 1rem;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
  }

  .text-line text {
    font-weight: normal;
    font-style: normal;
  }

  .equipe-text {
    bottom: 2.5rem;
    color: #fff;
    text-align: center;
    width: 286px;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    height: 700px;

    .equipe-text {
      width: 426px;
      bottom: 8.5rem;
    }
  }
}

.bg-idealizadores {
  background: rgba(189, 195, 200, 0.17);

  .title-idealizadores {
    font-size: 2.8rem !important;
  }
}

.gestores-element {
  top: 0px;
  right: 0px;
  width: 65%;
  height: 385px;
  background-color: #319bb1;
}

.gestores-nome {
  position: absolute;
  bottom: 25px;
  left: 15px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: capitalize !important;
}

.gestores-gradiente {
  position: absolute;
  width: 78%;
  height: 372px;
  // left: 50px;
  top: 30px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.96%, #000 100%);
  cursor: pointer;

  &:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.96%, #000 100%);
  }

  &:hover .gestores-nome {
    display: block;
    text-transform: capitalize;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .bg-idealizadores {
    img {
      max-width: 230px;
    }
  }

  .gestores-gradiente {
    background: transparent;
    position: absolute;
    width: 90%;
    height: 372px;
    top: 0px;
    max-width: 178px;
    max-height: 268px;

    span {
      font-size: 16px;
    }
  }

  .gestores-nome {
    display: none;
  }

  .gestores-img {
    max-width: 178px;
    max-height: 299px;
  }
}

.item {
  @extend .my-4;
}
