header {
  position: absolute;
  width: 100%;
  z-index: 30;

  .nav-link {
    color: #fff;
  }

  button {
    outline: none !important;
  }

  ul li a {
    margin: 0 0.6rem;
  }

  .navbar-collapse {
    @extend .bg-green;
  }

  .after-class {
    &::after {
      content: "";
      display: block;
      width: 78%;
      height: 1px;
      background: #807979;
      margin-left: 15rem;
      margin-top: -22px;
    }
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    .navbar-collapse {
      background: transparent !important;
    }

    .navbar-expand-lg {
      @include make-container();
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
