.bg-home {
  background: url("../img/Headerimage.png") center center no-repeat;
  background-size: cover;
  padding-bottom: 5rem;

  .detail {
    margin-left: -2rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    hr {
      margin-left: -1rem !important;
    }

    h2 {
      margin-bottom: 0;
      margin-left: 1rem;
    }
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    .box-content {
      width: 550px;
    }

    .detail {
      margin-left: -4rem;

      hr {
        margin-left: -5rem !important;
        width: 19%;
      }

      h2 {
        margin-left: 2rem;
      }
    }
  }
}

.siegen-aj {
  .detail {
    width: 30px;
    height: 4px;
    margin-right: 1.5rem;
    background: $grey;
  }

  h3 {
    color: #fff;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .bg-home {
    padding-bottom: 5rem !important;
  }

  .siegen-aj {
    padding-left: 0;

    h3 {
      font-size: 20px !important;
    }

    .detail {
      width: 50px;
    }
  }
}

.depoimentos {
  .quota {
    margin-bottom: -3.5rem;
    margin-left: 0.5rem;
  }

  .owl-depoimentos {
    .icon {
      border: 5px solid #e5e5e5;
      border-radius: 100%;
    }
  }

  .owl-dots {
    button {
      border: 0;
      background: transparent;
      outline: none;

      span {
        width: 8px;
        height: 8px;
        margin: 5px 2px;
        background: #c4c4c4 !important;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 200ms ease;
        border-radius: 30px;
        margin: 0rem 0.8rem;
      }
    }
  }

  #customNav, #customNavs {
    button {
      border: 0;
      background: transparent;
      outline: none;
    }
  }

  .owl-dots .active span {
    background: #4e575e !important;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    .quota {
      margin-bottom: -2.5rem;
      margin-left: -0.9rem;
    }

    .dots {
      margin-top: -2rem !important;
      z-index: 100;
    }
  }
}

.owl-clientes {
  .box {
    @include make-col(2.5);
  }
}

.equipe {
  background: url("../img/bg-equipe.png") center center no-repeat;
  background-size: cover;
  height: 400px;

  .box {
    max-width: 500px;
    margin: 0 auto;
  }
}

.clientes {
  .box {
    max-width: 327px;
  }

  .owl-dots {
    margin: 0 auto;
  }
  #clientesNav{
    button{
      border: 0;
    background: transparent;
    outline: none;
    }
  }
}
