.nossos-numeros {
  .item {
    text-align: center;
    margin: 1rem auto;
    color: #fff;
    @extend .full-center;

    span {
      font-size: 42px;
      width: 100%;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
      @include make-col(4);

      margin: 0;
    }
  }
}
