.bg-clientes {
  background: url("../img/bg-clientes.png") center center no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .bg-clientes {
    padding-bottom: 6rem;

    .box-content {
      max-width: 400px;
    }
  }
}
