.bg-servicos {
  background: url("../img/bg-servicos.jpg") center;
  background-size: cover;

  .height-format {
    height: 24rem;
  }
}

.section-help {
  .span-format {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
  }

  .hr-format {
    position: absolute;
    width: 18.51px;
    height: 0px;
    left: 3rem;
    border: 1px solid #ffffff;
    transform: rotate(180deg);
  }
}

.section-works {
  .bg-box {
    position: absolute;
    background: #f2f2f2;
    width: 16rem;
    height: 18rem;
    right: 2rem;
    top: 10.58%;
    z-index: -1111111;
    bottom: 34.5%;
  }

  .paragraph-map {
    font-size: 0.8rem;
  }

  .number-span {
    font-size: 1.68rem;
    font-weight: 900;
  }

  .paragraph-title {
    font-size: 1.25rem;
    font-weight: 900;
    color: $green;
  }
}

.recuperacao {
  font-size: 23px;

  .bol {
    width: 190px;
    height: 190px;
    transition: 0.5s;

    .border-sec {
      border: 2px solid #bdc3c8;
      width: 170px;
      height: 170px;
      border-radius: 100%;
      transition: 0.5s;
      @extend .full-center;
    }

    &:hover {
      border-radius: 100%;
      border: 3px solid $green;
      width: 190px;
      height: 190px;

      .border-sec {
        border-color: #000;
        color: $green;
      }
    }
  }
}

.detail-green {
  width: 90%;
  height: 3px;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .recuperacao {
    .box {
      width: initial;
    }
  }

  .bg-servicos {
    .height-format {
      height: 35rem;
    }
  }

  .section-help {
    .span-format {
      font-size: 1.4em !important;
    }

    img {
      max-width: 80px;
    }

    .span-format {
      color: #ffffff !important;
    }
  }

  .section-works {
    .number-span {
      font-size: 2rem;
    }

    .paragraph-title {
      font-size: 1.7rem;
    }

    .paragraph-map {
      font-size: 1rem;
    }

    .bg-box {
      width: 20rem;
      height: 19rem;
    }
  }
}
