.videos {
  .owl-videos {
    iframe {
      width: 100%;
    }

    margin-top: -12rem;
  }

  .owl-materias {
    img,
    iframe {
      max-width: 363px;
      max-height: 214px;
    }

    .navv {
      @extend .flex-row-reverse;
      display: flex;
    }

    .owl-navs {
      margin-top: 1rem;
    }
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    .owl-videos {
      .owl-stage {
        padding: 3em 0;

        .center {
          transition: transform 0.2s;
          transform: scale(1.3);
        }
      }
    }

    #customNav button i {
      color: #fff !important;
    }
  }

  .owl-materias {
    .box {
      height: 215.42px;
      @extend .full-center;
    }
  }

  .slide {
    background-size: cover;
    height: 490px !important;
  }
}
