.single {
  padding-top: 11rem;

  .img-post {
    height: 250px !important;
    margin: 2rem 0;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    .img-post {
      height: 400px !important;
    }

    padding-top: 13rem;
  }
}
