.sobre-nos {
  @media (min-width: map-get($grid-breakpoints, md)) {
    img {
      display: initial !important;
      width: initial !important;
    }
  }
}

.bg-sobrenos {
  height: 500px;

  .text-line {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 3s linear forwards, filling 3s ease-in forwards;
    letter-spacing: 1rem;
    font-size: 60px;

    text-align: center;
  }

  .text-line text {
    font-weight: normal;
    font-style: normal;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes filling {
    0%,
    90% {
      fill: #fff;
      fill-opacity: 0;
    }

    100% {
      fill: #fff;
      fill-opacity: 1;
    }
  }

  .siegen-sig {
    bottom: 3rem;
    color: #fff;
    text-align: center;
    width: 286px;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    height: 623px;

    .siegen-sig {
      width: 426px;
    }

    .text-line {
      font-size: 96px;
      margin-left: 6.5rem;
    }
  }
}

.item span {
  text-transform: lowercase;
}

.bg-motiva {
  background: url("../img/bg-motivacao.png") center center no-repeat;
  background-size: cover;
  height: 554px;

  .box {
    width: 551px;
  }
}

.gif-ajust {
  margin: -10rem 0 -13rem;
  max-width: 1920px;
  width: 100%;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .box-animation {
    margin-left: 12.5rem;

    .item {
      position: relative;
      -webkit-transition: width 1s;
      transition: width 1s;
      display: flex;
      width: 132px;
      background-size: cover;

      &:nth-child(2) {
        width: 100px !important;
      }

      &:hover {
        align-items: center;
        justify-content: center;
        width: 380px !important;
        background: url("../img/servicos.png") center center no-repeat;
        height: 380px;

        .show {
          display: block;
          letter-spacing: initial;
          bottom: 5rem;

          .box {
            margin-left: -14rem;

            .detail {
              width: 135px;
              height: 1px;
              background: #fff;
            }

            h3 {
              margin-left: 4rem;
            }
          }
        }
      }
    }

    .infomacoes {
      &:hover {
        background: url("../img/informacoes.png") center center no-repeat !important;
      }
    }

    .empresarial {
      &:hover {
        background: url("../img/empresarial.png") center center no-repeat !important;
      }
    }

    .gestao {
      &:hover {
        background: url("../img/gestao.png") center center no-repeat !important;
      }
    }

    .estrategia {
      &:hover {
        background: url("../img/estrategica.png") center center no-repeat !important;
      }
    }

    .negocios {
      &:hover {
        background: url("../img/negocios.png") center center no-repeat !important;
      }
    }
  }
}

#myTabContent {
  .box-img {
    height: 365px;
    max-width: 388px;
  }
}

#myTab {
  font-size: 20px;
  text-align: center;
  margin-bottom: 2rem;

  .nav-item a {
    color: $grey;
    margin: 0 1rem;
  }

  .active {
    font-size: 27px;
    color: $green !important;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  #myTab {
    font-size: 53px;

    .active {
      font-size: 75px;
    }
  }
}
