@import "../../source/components/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

$green: #319bb1;

$lgrey: #bdc3c8;

$dgrey: #4e575e;

$grey: #828282;

.color-green {
  color: $green !important;
}

.color-lgrey {
  color: $grey;
}

.color-dgrey {
  color: $dgrey !important;
}

.color-grey {
  color: $grey;
}

.bg-green {
  background: $green !important;
}

.bg-lgrey {
  background: $lgrey;
}

.bg-dgrey {
  background: $dgrey;
}

.bg-grey {
  background: $grey;
}

.bottom-0 {
  bottom: 0;
}

.bottom-1 {
  bottom: 1rem;
}

.ml-5rem {
  margin-left: 5rem;
}

.m-auto-left {
  margin: 0 auto 0 0 !important;
}

.mxw-900 {
  max-width: 900px;
}

.carousel-item {
  a {
    color: #fff;

    @media (min-width: map-get($grid-breakpoints, xs)) {
      font-size: 22px;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
      font-size: 35px !important;

      b {
        font-size: 25px;
        display: block;
      }
    }
  }
}

.carousel-inner {
  height: 100%;
}

.carousel-control-next {
  justify-content: flex-end;
  margin-top: 9rem;
}

.carousel-control-prev {
  justify-content: flex-start;
  margin-top: 9rem;
}

.ftsz-19 {
  font-size: 19px;
}

.d-nonee {
  display: none;
}

.d-grid {
  display: grid;
}

.grayscale {
  filter: invert(62%) sepia(2%) saturate(1500%) hue-rotate(164deg)
    brightness(99%) contrast(91%);
}

.owl-carousel {
  img {
    width: initial !important;
  }
}

hr {
  border-top: 2px solid #bdc3c8;
}

.shadow {
  -webkit-box-shadow: 0px 5px 20px -2px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 5px 20px -2px rgba(204, 204, 204, 1);
  box-shadow: 0px 5px 20px -2px rgba(204, 204, 204, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: $dgrey;
  position: relative;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  @extend .rounded;
}

img {
  @extend .img-fluid;
}

button {
  outline: none !important;
  text-decoration: none !important;

  &:hover {
    background: transparent !important;
  }
}

.bg-whitee {
  background: #fff;
}

.text-whitee {
  color: #fff;
}

.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-ce-b {
  @extend .full-center;
  flex-wrap: wrap;
}

.disabled {
  opacity: 0.5;
}

.owl-dots {
  // padding: 1rem 0;

  .active span {
    background: #4e575e !important;
  }

  button span {
    background: #c4c4c4 !important;
  }
}

.owl-nav {
  button {
    background: transparent;
    border: 0;
    outline: none;
  }
}

.owl-dots {
  button {
    background: transparent;
    border: 0;
    outline: none;

    span {
      width: 8px;
      height: 8px;
      margin: 5px 2px;
      background: #c4c4c4 !important;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px;
      margin: 0rem 0.8rem;
      outline: none;
    }
  }

  .active span {
    background: #4e575e !important;
  }
}

@media (min-width: map-get($grid-breakpoints, xs)) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }
}

.slide {
  background-size: cover;
  height: 480px;
}

.border-r {
  border-right: 2px solid $green;
}

.w-200 {
  width: 200px;
}

.hover-bt {
  transition: 0.5s;

  &:hover {
    background: rgba(49, 155, 177, 0.5) !important;
    color: #fff !important;
  }
}

.w-10 {
  width: 10%;
}

.mxw-700 {
  max-width: 700px;
}

.mxw-1440 {
  max-width: 1440px;
}

.border-green {
  border: 1px solid $green;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .slide {
    background-size: cover;
    height: 640px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 39px;
  }

  h3 {
    font-size: 30px;
  }

  .position-lg-absolute {
    position: absolute;
  }
}

@import "owl.carousel";

@import "owl.theme.default.min";

@import "animated";

@import "header";

@import "home";

@import "sobre-nos";

@import "nosso-numero";

@import "equipe";

@import "siegen-na-midia";

@import "servicos";

@import "nossos-clientes";

@import "cases-de-sucesso";

@import "contato";

@import "single";
